<ion-header class="header-dark ion-no-border" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon mode="ios" size="large" name="arrow-back-outline"></ion-icon>
        <!--<ion-back-button mode="ios"></ion-back-button>-->
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Dark</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding ion-padding-top" fullscreen>
  <div class="post-list" *ngFor="let post of postFeed">
    <ion-grid [ngClass]="{'post-border': post.id==1, 'post-border-below': post.id==2, 'post-border-last': post.id>2  }"
      class="ion-padding">
      <ion-row>
        <ion-item class="ion-no-padding ion-margin-top" lines="none">
          <ion-avatar slot="start">
            <ion-img [src]="post.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{post.author}}</h2>
            <p>{{post.date}}</p>
          </ion-label>
        </ion-item>
        <p class="body">{{post.content}}</p>
        <div class="stats">
          {{post.likes}} <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
          {{post.comments}} <ion-icon name="chatboxes"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>