//Header style is defined in global.scss

h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

p {
  color: var(--ion-color-violetsoft);
}

.post-border {
  border-bottom-left-radius: 80px !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #423050;
  padding-top: 0px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px;
  padding-top: 90px !important;
  margin-top: -90px !important;
  position: relative;
  background: var(--ion-color-primary-dark);

  p.body {
    font-size: 13px;
    color: #b0a9b5;
    font-weight: 300;
    line-height: 2em;
    margin-top: 5px;
  }

  ion-item {
    --background: transparent !important;
  }
}

.post-border-below {
  border-bottom-left-radius: 80px !important;
  padding-bottom: 40px !important;
  padding-left: 30px !important;
  padding-top: 90px !important;
  margin-top: -80px !important;
  background-color: var(--ion-color-secondary);

  p.body {
    font-size: 13px;
    color: #f0d1df;
    font-weight: 300;
    line-height: 2em;
    margin-top: 5px;
  }

  ion-item {
    --background: transparent !important;
  }
}

.post-border-last {
  padding-top: 0px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px;
  padding-top: 20px !important;
  background: var(--ion-color-primary-dark);

  p.body {
    font-size: 13px;
    color: #b0a9b5;
    font-weight: 300;
    line-height: 2em;
    margin-top: 5px;
  }

  ion-item {
    --background: transparent !important;
  }
}

ion-avatar {
  margin-right: 16px;
}

.post-list {
  background: var(--ion-color-primary-dark);
}

.stats {
  color: white;
  bottom: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 0.75em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: right;
  margin-left: auto;
  margin-right: 0;

  ion-icon {
    font-size: 25px;
    vertical-align: middle;
    color: var(--ion-color-graylight);
  }
}
