<ion-content scrollX=false class="welcome">

  <div id="msg">
    <h1>Welcome to Social</h1>
    <p id="intro">If you’re offered a seat on a rocket ship, don’t ask what seat! Just get on.</p>
  </div>

  <div id="footer" class="ion-padding">
    <p id="subtitle">CONTINUE WITH</p>
    <ion-button size="large" shape="round" expand="full" strong=true color="tertiary"
      class="ion-margin-bottom ion-margin-top">EMAIL</ion-button>
    <ion-button size="large" shape="round" expand="full" strong=true color="secondary">FACEBOOK</ion-button>
  </div>

</ion-content>