<ion-content>
  <div id="hero" style="background-image: url('/assets/img/plants.jpg'); ">
    <div class="bio">
      <img src="/assets/img/user1.png" style="border-radius: 50%;" width="50px">
      <h1>Alexia Morales</h1>
      <p id="subtitle">347K followers</p>
    </div>
  </div>
  <div id="footer">
    <p id="title"> Photos & Videos </p>
    <p id="desc">269 shots</p>
    <ion-grid class="ion-padding">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col style="background-image:url('/assets/img/street.jpg')" id="left-img"
          class="ion-no-padding ion-no-margin">
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col style="background-image:url('/assets/img/sport2.jpg')" id="top-right-img"
                class="ion-no-padding ion-no-margin">
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col style="background-image:url('/assets/img/cuerd.jpg')" id="bottom-right-img"
                class="ion-no-padding ion-no-margin">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>