#hero {
  height: 70%;
  width: 100%;
  background-image: url("/assets/img/welcome5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 80px;
}

#footer {
  position: absolute;
  bottom: 0px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#intro {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #767676;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.round {
  --border-radius: 50px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --box-shadow: none;
}

#signup {
  background-color: var(--ion-color-primary-dark);
  border-top-left-radius: 80px;
  padding: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  padding-bottom: 40px;
}

//avoid scrolling effects
ion-content {
  --overflow: hidden;
}
