<ion-content class="ion-padding" scrollX=false>
  <ion-slides id="slider" pager="true">
    <ion-slide>
      <ion-img src="/assets/img/slided.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/img/slidea.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/img/slideb.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/img/slidec.jpg"></ion-img>
    </ion-slide>

  </ion-slides>

  <div id="titles" class="ion-padding-top">
    <h1>Discover</h1>
    <p id="intro"> My mother always told me that javascript was the key of life. </p>
  </div>

</ion-content>

<ion-footer class="ion-text-right" no-border>
  <div id="signup">
    CONTINUE
  </div>
</ion-footer>