<ion-header class="header-normal ion-no-border" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon mode="ios" size="large" name="arrow-back-outline"></ion-icon>
        <!--<ion-back-button mode="ios"></ion-back-button>-->
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Updates</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding padding-top fullscreen>

  <div class="post-list">

    <!--First post-->
    <ion-grid class="post-bordered-white ion-padding" style="position:relative;" *ngFor="let post of firstPost">
      <ion-row>
        <ion-item class="ion-no-padding ion-margin-top" lines="none">
          <ion-avatar slot="start">
            <ion-img [src]="post.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{post.author}}</h2>
            <p>{{post.date}}</p>
          </ion-label>
        </ion-item>
        <p class="body">{{post.content}}</p>
        <div class="stats">
          {{post.likes}} <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
          {{post.comments}} <ion-icon name="chatboxes"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>
    <!--Gallery-->

    <div class="gallery-horizontal-coloured">
      <div class="scrolling-wrapper">
        <div class="card" *ngFor="let item of gallery">
          <div [ngStyle]="{'background-image': 'url(' + item.image + ')'}" class="image-container">
            <div class="titles">
              <h2>{{item.name}}</h2>
              <div class="rating">
                {{item.rate}} <ion-icon name="star"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Last posts-->
    <div class="post-list" *ngFor="let post of lastPost">
      <ion-grid class="ion-no-margin" class="post-bordered-white">
        <ion-row>
          <ion-item class="ion-no-padding ion-margin-top" lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="post.avatar"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{post.author}}</h2>
              <p>{{post.date}}</p>
            </ion-label>
          </ion-item>
          <p class="body">{{post.content}}</p>
          <div class="stats">
            {{post.likes}} <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
            {{post.comments}} <ion-icon name="chatboxes"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>