<ion-content>
  <div class="hero" style="background-image: url('/assets/img/user2.jpg'); "> </div>
  <div class="header ion-padding">
    <ion-grid>
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col class="ion-no-margin ion-no-padding" size="9">
          <h1>Carla Brunni</h1>
          <p>Michigan, MI</p>
        </ion-col>
        <ion-col size="3">
          <div class="follow-banner">FOLLOW</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="action-panel">
    <ion-row>
      <ion-col>
        <ion-icon color="secondary" size="large" name="chatbubbles"></ion-icon>
        <p>Chat</p>
      </ion-col>
      <ion-col>
        <ion-icon color="secondary" size="large" name="folder-open"></ion-icon>
        <p>Docs</p>
      </ion-col>
      <ion-col>
        <ion-icon color="secondary" size="large" name="location"></ion-icon>
        <p>Location</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-icon color="secondary" size="large" name="people"></ion-icon>
        <p>Courses</p>
      </ion-col>
      <ion-col>
        <ion-icon color="secondary" size="large" name="options"></ion-icon>
        <p>Forum</p>
      </ion-col>
      <ion-col>
        <ion-icon color="secondary" size="large" name="notifications"></ion-icon>
        <p>Config</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>