<ion-header class="header-dark ion-no-border" mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon mode="ios" size="large" name="arrow-back-outline"></ion-icon>
        <!--<ion-back-button mode="ios"></ion-back-button>-->
      </ion-button>
    </ion-buttons>
    <ion-title mode="md">Updates</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-padding-top" fullscreen>

  <div class="post-list">


    <ion-grid class="ion-padding post-border-white">
      <ion-row>
        <ion-item class="ion-no-padding" lines="none">
          <ion-avatar slot="start">
            <ion-img src="/assets/img/user3.jpg"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Laurence Sky</h2>
            <p>8 Nov</p>
          </ion-label>
        </ion-item>
        <p class="body">Believe in yourself, take on your challenges.</p>
        <div style="background-image:url('/assets/img/sport2.jpg')" class="post-img-rounded"></div>
        <div class="stats">
          2.2M <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
          459K <ion-icon name="chatboxes"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-padding post-border-img" style="background-image: url('/assets/img/ocean.png')">
      <ion-row>
        <ion-item class="ion-no-padding" lines="none">
          <ion-avatar slot="start">
            <ion-img src="/assets/img/user1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Francesco Skywalker</h2>
            <p>8 Nov</p>
          </ion-label>
        </ion-item>
        <div class="stats-white">
          1.6K <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
          0.9K <ion-icon name="chatboxes"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-margin-top ion-padding post-border-last">
      <ion-row>
        <ion-item class="ion-no-padding" lines="none">
          <ion-avatar slot="start">
            <ion-img src="/assets/img/user1.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>Rita Blacklabel</h2>
            <p>21 Nov</p>
          </ion-label>
        </ion-item>
        <p class="body">Believe in yourself, take on your challenges, dig deep within yourself to conquer fears. Never
          let anyone bring you down. You got to keep going.</p>
        <div style="background-image:url('/assets/img/sport2.jpg')" class="post-img-rounded"></div>
        <div class="stats">
          4K <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>
          23M <ion-icon name="chatboxes"></ion-icon>
        </div>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>