/*ion-input {
  --color: var(--ion-color-graymed);
  --placeholder-font-weight: 400;
}*/

ion-item {
  --padding-start: 0px;
}

//Sign in and Sign up top buttons
.top-button {
  height: 32px;
  --border-radius: 50px;
  --box-shadow: none; //--vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
}

.continue-button {
  height: 55px;
  --border-radius: 50px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --box-shadow: none;
  //--vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  margin-top: 50px;
}

#forgot {
  font-size: 12px;
  font-weight: 600;
  color: var(--ion-color-tertiary);
  text-align: center;
  margin-top: 32px;
}
